    :root{
        --cafe: #AD8B73;
        --cafe_claro: #E3CAA5;
        --crema: #FFFBE9;
    }

    #menu-inicio{
        background-color: #AD8B73;
        min-height: 100%;
        border-right: solid;
    }

    #menu{
        padding: .875rem 1.25rem;
    }
    
    body{
        font-family: Helvetica, sans-serif;
        color:white;
    }

    
    ul{
        list-style-type: none;
    }

    li{
        margin-top: 16px;
        margin-bottom: 30px;
        margin-right: 20px;

    }

    #iniciar-sesion{
        margin-top: 120px;
    }

    img{
        width: 100%;
        height: 50vh;
           
    }

    #contactos{
        margin-top: 50vh;
        margin-left: 20px; 
    }

    #parrafo-contactos{
        margin-top: 3vh;
        margin-left: 3vh;
    }

    @media screen and (min-height : 970px){
        #contactos{
            margin-top:20vh
        }
    }